<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/91956/IdeaProjects/FirstProject/src/test/java/com/inetbanking/testcases/LoginTestCase_001.java">
        <classes>
            <class name="com.inetbanking.testcases.LoginTestCase_001">
                <methods>
                    <include name="logintest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>